<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medowlark Travel</title>
    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body>
    <div class="aliyun-header">
        <img src="/images/logo.png" alt="Meadowlark Travel logo">
        <div class="pull-right">
            <li ><a href="newsletter">登录</a></li>
        </div>
    </div>
    <div class="col-md-4"></div>
    <ul class="nav nav-pills col-md-4 myTab">
        <li role="presentation"><a href="home">Home</a></li>
        <li role="presentation"><a href="about">关于</a></li>
        <li role="presentation"><a href="newsletter">登录</a></li>
        <li role="presentation"><a href="weather">天气</a></li>
    </ul>
    <div class="col-md-12">
        {{{body}}}
    </div>

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="/vendor/js/jquery-2.1.1.min.js"><\/script>')</script>
    {{{_sections.jquery}}}


    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script>
        $('.myTabs a').click(function (e) {
//            e.preventDefault()
            $(this).tab('show')
        })
    </script>
</body>
</html>