<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medowlark Travel</title>
    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body>
    <header><img src="/images/logo.png" alt="Meadowlark Travel logo"></header>
    <ul class="menu col-md-12">
        <li><a href="home">首页</a></li>
        <li><a href="about">关于</a></li>
        <li><a href="newsletter">登录</a></li>
        <li><a href="weather">天气</a></li>
    </ul>

    {{{body}}}

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="/vendor/js/jquery-2.1.1.min.js"><\/script>')</script>
    {{{_sections.jquery}}}


    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>